.login__content,
.register__content {
    width: 50%;
    margin: 60px auto;
}
.section__title {
    text-align: center;
    margin-bottom: 50px;
}

.login-form__item-label,
.register-form__item-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    margin-top: 30px;
}
.login-form__item-input,
.register-form__item-input {
    width: 100%;
    height: 35px;
    border: #555 1px solid;
    border-radius: 3px;
}

.login-form__button,
.register-form__button {
    margin: 30px 0;
}
.login-form__button-submit,
.register-form__button-submit {
    width: 100%;
    border: #000 1px solid;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    height: 35px;
    cursor: pointer;
}

.guide-link {
    text-align: center;
}
.guide-link a,
.guide-link a:visited {
    color: #0073CC;
}

/* メール認証画面用 verify.blade.php */
.verify__content{
    width: 50%;
    margin: auto;
    height: 100vh;
}
.verify__content-inner {
    margin-top: 90px;
}
.verify__content--info p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}
.verify-link__button {
    text-align: center;
    margin: 30px 0;
}
.verify-link__button-submit {
    padding: 5px 12px;
    border-radius: 5px;
    border: #000 solid 1px;
    background-color: #d9d9d9;
    color: #000;
}
.verify-link__button-submit:visited {
    color: #000;
}
.verify-form__button {
    margin: 0 auto;
    text-align: center;
}
.verify-form__button-submit {
    background-color: #fff;
    color: #0073CC;
    border: none;
    cursor: pointer;
}
.verify__alert-success{
    margin-top: 30px;
    text-align: center;
    color: #CB0000;
}