.header {
    background-color: #000;
    color: #fff;
    height: 50px;
    width: 100%;
    display: grid;
}

a {
    text-decoration: none;
}

/*ナビゲーションバー*/
.header-nav {
    display: grid;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}
.header-nav__ttl {
    margin: 0;
    padding: 0 10px;
}

.header__title-img {
    width: 200px;
}

.header-nav__list {
    display: grid;
    margin-right: 10px;
    grid-auto-flow: column;
    column-gap: 8px;
    justify-self: end;
    align-items: center;
}
.header-nav__list-item {
    padding: 0 8px;
    border: red 1px solid;
    justify-self: center;
}
.header-nav__list-item a,
.header-nav__list-item a:visited {
    color: #fff;
    font-size: small;
    align-items: center;
    vertical-align: top;
}

.header-nav__button {
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    color: #000;
    border: #000 1px solid;
    font-size: 0.8em;
    border: red 1px solid;
    vertical-align: top;
}
.header-nav__button-submit {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    vertical-align: top;
    border: red 1px solid;
}