.detail__title,
.approve__title {
    border-left: 5px solid #333;
    padding-left: 8px;
    margin-bottom: 40px;
}
body {
    background-color: #F0EFF2;
    font-size: 0.9em;
}

.detail__content,
.approve__content {
    margin: 65px auto;
    width: 60%;
}

.detail-table,
.approve-table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.detail-table__heading,
.approve-table__heading {
    font-weight: normal;
    color: #737373;
}
.detail-table__row,
.approve-table__row {
    height: 60px;
}
.detail-table__row:not(:last-child),
.approve-table__row.detail-table__row:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}
.detail-table__heading,
.approve-table__heading {
    text-align: left;
    padding-left: 2.5em;
    width: 13em;
}
.detail-table__data-left,
.approve-table__data-left {
    width: 9em;
}
.detail-table__data span,
.detail-table__data-left span,
.approve-table__data span,
.approve-table__data-left span {
    padding-left: 6px;
}


.detail-table__input,
.approve-table__input {
    width: 6em;
    height: 30px;
    border: #E1E1E1 solid 1px;
    border-radius: 5px;
    padding-left: 5px;
}
.approve-table__input,
.approve-table__textarea {
    border: none;
    outline: none;
}

.detail-table__textarea,
.approve-table__textarea {
    width: 70%;
    height: 50px;
    margin: 10px 0;
    border: #E1E1E1 solid 1px;
    border-radius: 5px;
}

.detail-form__button {
    margin-top: 30px;
    text-align: right;
}
.detail-form__button-submit {
    background-color: #000;
    color: #fff;
    padding: 3px 25px;
    border: #000 1px solid;
    border-radius: 3px;
    cursor: pointer;
}