.detail__title {
    border-left: 5px solid #333;
    padding-left: 8px;
    margin-bottom: 40px;
}
body {
    background-color: #F0EFF2;
    font-size: 0.9em;
}

.detail {
    margin: 65px auto;
    width: 60%;
}

.detail-form__table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.detail-form__table th {
    font-weight: normal;
    color: #737373;
}
.detail-form__table tr {
    height: 60px;
}
.detail-form__table tr:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}

.detail-form__table th {
    text-align: left;
    padding-left: 2.5em;
    width: 13em;
}
.detail-table__data-left {
    width: 9em;
}
.detail-form__table td span,
.detail-table__data-left span {
    padding-left: 6px;
}


.detail-form__input,
.detail-form__input--approve {
    width: 6em;
    height: 30px;
    border: #E1E1E1 solid 1px;
    border-radius: 5px;
    padding-left: 5px;
}

.detail-form__textarea,
.detail-form__textarea--approve {
    width: 90%;
    height: 50px;
    margin: 10px 0;
    border: #E1E1E1 solid 1px;
    border-radius: 5px;
}

.detail-form__input--approve,
.detail-form__textarea--approve {
    border: none;
    outline: none;
}
.detail-form__textarea--approve {
    resize: none;
}

.detail-form__actions {
    margin-top: 30px;
    text-align: right;
}
.detail-form__submit {
    background-color: #000;
    color: #fff;
    padding: 3px 25px;
    border: #000 1px solid;
    border-radius: 3px;
    cursor: pointer;
}
.detail-form__completed {
    display: inline-block;
    background-color: #696969;
    color: #fff;
    padding: 3px 20px;
    border-radius: 3px;
}

/* 承認ボタンを押せない状態のときにボタンの代わりにメッセージ表示 */
.detail__status-message {
    color: #F87779;
    text-align: right;
}

/* 承認待ちであることを職員に知らせるためのメッセージエリア */
.approve__status-message--pending {
    background-color: #D0E7DE;
    color: #1C6046;
    margin: 0 2px 10px;
    padding: 3px 10px;
}