body {
    background-color: #F0EFF2;
    font-size: 0.9em;
}
.list {
    width: 70%;
    margin: 65px auto;
}
.list__title {
    border-left: 5px solid #333;
    padding-left: 8px;
    margin-bottom: 50px;
    color: #000;
}

.list__guide-area {
    background-color: #fff;
    margin: 10px 0 25px 0;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #737373;
}
.list__guide-area span {
    color: #000;
}
.list__guide-link {
    padding: 0 15px;
}
.list__guide-link a,
.list__guide-link a:visited {
    color: #737373;
}
/* 月・日遷移用アイコンの設定 */
.link__icon {
    width: 16px;
    opacity: 0.3;
    display: inline-block;
    margin: auto 0;
    margin-right: 2px;
}
.list__guide-link--icon-next {
    transform: rotate(180deg);
    width: 16px;
    opacity: 0.3;
    display: inline-block;
    margin: auto 0;
    margin-left: 2px;
}

/* date/month pickerの設定 */
.date-selector,
.month-selector {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100px;
}
.fa-solid {
    margin-right: 0;
}

.list-table {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.list-table th {
    font-weight: normal;
    border-bottom: 3px solid #E1E1E1;
    color: #737373;
}
.list-table__heading {
    border-bottom: 2px solid #E1E1E1;
}
.list-table th:first-child {
    width: 12em;
}
.list-table th:last-child {
    padding-right: 30px;
}
.list-table tr {
    border-collapse: collapse;
    height: 50px;
    text-align: center;
}
.list-table tr:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}
.list-table__data {
    padding: 3px 8px;
    color: #000;
}
.list-table__data--date {
    color: #737373;
    font-weight: normal;
}
.list-table__data:first-child {
    padding-left: 30px;
}
.list-table__data:last-child {
    font-weight: bold;
    padding: 3px 30px 3px 0px;
}
.overtime {
    color: #C12020;
}

.table__data--none,
.table__data--none:visited {
    color: #9b9b9b;
}

/* タブの設定 */
.request-list__tab {
    border-bottom: #000 1px solid;
    margin-bottom: 30px;
}
.tab-menu {
    display: flex;
    margin: 5px 0;
    gap: 0 40px; /*子要素（li）の間隔*/
}
.tab-menu li,
.tab-menu li a,
.tab-menu li a:visited {
    color: #555;
    cursor: pointer;
}
.tab-menu li.active,
.tab-menu li.active a,
.tab-menu li.active a:visited {
    font-weight: bold;
    color: #000;
}

/* CSV出力ボタン */
.list__actions {
    margin: 20px 0;
    text-align: right;
}
.list__actions--export-button {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px 20px;
    cursor: pointer;
}