body {
    background-color: #F0EFF2;
    font-size: 0.9em;
}
.list__content {
    width: 70%;
    margin: 65px auto;
}
.list__title {
    border-left: 5px solid #333;
    padding-left: 8px;
    margin-bottom: 50px;
}

.list__guide-area {
    background-color: #fff;
    margin: 10px 0 25px 0;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attendance-table,
.request-table {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.attendance-table__heading,
.request-table__heading {
    font-weight: normal;
    border-bottom: 3px solid #E1E1E1;
}
.attendance-table__heading:first-child,
.request-table__heading:first-child {
    width: 12em;
}
.attendance-table__heading:last-child,
.request-table__heading:last-child {
    padding-right: 30px;
}
.attendance-table__row,
.request-table__row {
    border-collapse: collapse;
    height: 50px;
    text-align: center;
}
.attendance-table__row:not(:last-child),
.request-table__row:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}
.attendance-table__data,
.request-table__data {
    padding: 3px 8px;
}
.attendance-table__data:first-child,
.request-table__data:first-child {
    padding-left: 30px;
}
.attendance-table__data:last-child,
.request-table__data:last-child {
    font-weight: bold;
    padding: 3px 30px 3px 0px;
}

.table__data--none,
.table__data--none:visited {
    color: #999;
}